body{

    background-size:cover;
    background-position:center;

}

#feet {

    position:fixed;
    bottom:0;
    width:100%; 
    letter-spacing: 3;
    text-align: center;
    background: white;
    font-size: 10px;
    color:rgb(221, 142, 40);
    text-shadow: 3px 3px 3px rgb(8, 8, 6);
    
    

}
canvas{

    background-color:white;
    border-radius:10%;
    border: solid 3px black;

    
}
#top_1{
    width:100%;
    display:in-block;
}